<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.main.dao.LabMapper">
    <resultMap id="LabResultMap" type="labBean">
        <id property="id" column="id"/>
        <result property="labId" column="lab_id"/>
        <result property="labType" column="lab_type"/>
    </resultMap>
    <select id="selectAll" resultMap="LabResultMap">
        select * from lab;
    </select>
</mapper>
